@media screen and (max-width: 650px) {

/* Mobile styles */
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    overflow-x: hidden;
}

.main-content {
    margin: 0;
    width: 100%;
}
.container {
    height: 45%;
    width: 100%;
    padding: 0;
}

.hamburger-icon {
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: block;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    padding-top: 60px;
    text-align: center;
}

.mobile-menu a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

#home {
    margin-top: 160px;
}

.profile-image img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image a circle */
    object-fit: cover; /* Ensures the image covers the entire area */
    border: 2px solid #fff; /* Optional: Add a border */
    display: block;
    margin: 0 auto 10px; /* Center the image and add some space below */
}

.display-desktop img {
    display: none;
}

#about {
  margin-bottom: 50px;
}

#about h1 {
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
}
.projectpage-description {
   font-size: 22px;
   padding: 10px 35px 20px 35px;
}


.project {
    width: 46.5%;
    border-radius: 20px;
}

#ultomiris {
    background-image: url('./images/Ultomiris-mobile.png');
    background-size: contain;
       background-position: center;
    background-repeat: no-repeat;
   }
   
   #myagios {
    background-image: url('./images/myagios.jpg');
    background-size: contain;
       background-position: center;
    background-repeat: no-repeat;   
   }
   
   #stellar {
    background-image: url('./images/stellar-star-blue-tint.png');
    background-size: contain;
       background-position: center;
    background-repeat: no-repeat;   
   }
   
   #elahere {
    background-image: url('./images/elahere.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
   }
   
   #new-smile {
    background-image: url('./images/newsmile.png');
    background-size: 129% 101%;
    background-position: center;
    background-repeat: no-repeat;   
   }
   
   #kickscrew {
    background-image: url('./images/kickscrew.jpg');
    background-size: contain;
       background-position: center;
    background-repeat: no-repeat;   
   }
   
   #igalmi {
    background-image: url('./images/igalmi.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
   }
   
   #epclusa {
       background-image: url('./images/epclusa.jpg');
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;   
   }
   
   #paxlovid {
       background-image: url('./images/paxlovid.avif');
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;   
   }
   
   #harvoni {
       background-image: url('./images/Harvoni.png');
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;   
   }
   
   #eucrisa {
       background-image: url('./images/eucrisa.png');
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;   
   }
   
   #kitekonnect {
       background-image: url('./images/kite.png');
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;   
   }

   .skills {
    padding-bottom: 100px;
    height: 100%;
   }

   .mobile-footer {
    display: block;
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: -1px;
    overflow-x: hidden;
  }

  .social-icons {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .desktop-only {
    display: none;
  }

  #about h2 {
    display: none;
}

}